{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <h2>{{ object.username }}</h2>
                        {% if object.name %}
                            <p>{{ object.name }}</p>
                        {% endif %}
                    </div>
                    {% if object == request.user %}
                        <div class="grid-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
                                    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for content in contents %}
                        <div class="grid-item">
                            {{ content|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
