__pycache__
*.log
pip-log.txt
.coverage
*.mo
*.pot
.idea
node_modules/
socialhome/media/
.cache
env.local
socialhome/static/css/*.css
socialhome/static/js/project.js
socialhome/static/js/webpack.*.js
socialhome/static/js/webpack.*.js.map
socialhome/static/fonts/
staticfiles/
bower_components/
socialhome/static/mocha/
/docs/_build/
/yarn.lock
