*.log
*.mo
*.pot
.cache
.coverage
.env
.idea
.pytest_cache
.tox
/.git
/docs/_build/
/var/exports
/yarn.lock
__pycache__
bower_components/
docker-compose.yml
docker_release.sh
env.local
node_modules/
package-lock.json
pip-log.txt
socialhome/frontend/node_modules
socialhome/media/
socialhome/static/css/*.css
socialhome/static/dist
socialhome/static/fonts/
socialhome/static/mocha/
staticfiles/
