{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "max-len": ["error", 120],
    "no-unused-expressions": "off",
    "object-curly-spacing": ["error", "never"],
    "quotes": ["warn", "double"],
    "semi": ["error", "never"],
    "no-return-assign": "off"
  },
  "globals": {
    "afterEach": true,
    "beforeEach": true,
    "context": true,
    "describe": true,
    "gettext": true,
    "interpolate": true,
    "it": true,
    "ngettext": true,
    "Sinon": true,
    "Urls": true
  },
  "plugins": [
    "vue"
  ]
}
