### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
.pytest_cache/

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
socialhome/media/

# Hitch directory
tests/.hitch

# MailHog binary
mailhog

# Pytest
.cache
prof/

# Socialhome environment file
env.local

# Collected statics
socialhome/static/css/*.css
socialhome/static/css/*.css.map
socialhome/static/js/project.js
socialhome/static/js/webpack.*.js
socialhome/static/js/webpack.*.js.map
socialhome/static/fonts/
!/socialhome/static/fonts/.gitkeep
staticfiles/

# Bower
bower_components/

# Mocha test statics
socialhome/static/mocha/

# DOcs
/docs/_build/
/yarn.lock
/staticfiles/

# Docker
./docker-compose.yml

