export DATABASE_URL="postgres://socialhome:socialhome@127.0.0.1:5432/socialhome"

export DJANGO_ADMIN_URL=
export DJANGO_SETTINGS_MODULE=config.settings.local
export DJANGO_SECRET_KEY=
export DJANGO_ALLOWED_HOSTS=.socialhome.local
export DJANGO_SERVER_EMAIL=
export DJANGO_SECURE_SSL_REDIRECT=False
export DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

export DJANGO_OPBEAT_ORGANIZATION_ID=
export DJANGO_OPBEAT_APP_ID=
export DJANGO_OPBEAT_SECRET_TOKEN=
