DATABASE_URL=postgres://socialhome:socialhome@127.0.0.1:5432/socialhome

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=.socialhome.local
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

DJANGO_OPBEAT_ORGANIZATION_ID=
DJANGO_OPBEAT_APP_ID=
DJANGO_OPBEAT_SECRET_TOKEN=

SOCIALHOME_DOMAIN=socialhome.local
