{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <h1>{% trans "Account" %}</h1>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
    </form>
    <br>
    <div class="pull-right">
        <a href="{% url "users:delete-account" %}" class="btn btn-danger">Delete account</a>
    </div>
    <a href="{% url "users:detail" username=request.user.username %}" class="btn btn-secondary">{% trans "Back to profile" %}</a>
{% endblock %}
