.grid {
    margin-top: -12px;
}

.grid-item {
  background-color: $light;
  color: $dark;
  overflow: hidden;

  img {
    max-width: 100%;
  }

  video {
     max-width: 100%;
     display: inline-block;
  }
}

.grid-item-bar {
  font-size: smaller;
  opacity: 0.5;

  @media all and (max-width: $largeDevice) {
    font-size: small;
  }
  @media all and (max-width: $mediumDevice) {
    font-size: medium;
  }
  @media all and (max-width: $bsSmallDevice) {
    font-size: large;
  }
  .grid-item-bar-links > a {
    padding-right: 5px;
  }
}

.grid-item-author-bar {
  margin-bottom: 8pt;

  .grid-item-author-bar-pic {
      max-width: 48px;
      max-height: 48px;
      margin-right: 8pt;
      margin-left: 8pt;
  }
}

// Responsive grid sizes
.grid-sizer,
.grid-item {
  width: 100%;
  padding: 2%;
  margin-top: 10px;
}
@media all and (min-width: $mediumDevice) {
  .grid-sizer,
  .grid-item {
    width: 49.5%;
    padding: 1%;
  }
}
@media all and (min-width: $largeDevice) {
  .grid-sizer,
  .grid-item {
    width: 32.6%;
    padding: 1%;
  }
}
@media all and (min-width: $extraLargeDevice) {
  .grid-sizer,
  .grid-item {
    width: 24.2%;
    padding: 0.5%;
  }
}

.grid-item-full {
  width: 100%;
  padding: 20px;
}

.reaction-icons {
    color: #0d1012;
    padding: 3px 5px;
    text-decoration: none;
    &:hover {
        color: #0d1012;
        text-decoration: none;
    }
    &:focus {
        color: #0d1012;
        text-decoration: none;
    }
}

// Stamped element centered on top
.stamped {
  width: 100%;
  padding: 1%;
  overflow: visible;
  background-color: $light;
  color: $dark;
}

.gutter-sizer {
  width: 1%;
}

.organize-content {
  .card {
    max-height: 100px;
    overflow: hidden;
    color: $dark;

    .fa-arrows-alt {
      opacity: 0.6;
      cursor: move;
    }
  }
}

.profile-box-trigger {
  cursor: pointer;
}

.profile-box {
  padding-top: 0;
}

.card-block {
  padding: 15px;
}
