/* New content container */
#new-content-container,
.new-content-container {
  position: fixed;
  text-align: center;
  z-index: 1000;
  top: 37px;
  left: 0;
  right: 0;
  font-size: 1.5em;
}

@media (min-width: $bsMediumDevice) {
  #new-content-container,
  .new-content-container {
    font-size: 1.4em;
    top: 38px;
  }
}

@media (min-width: $bsLargeDevice) {
  #new-content-container,
  .new-content-container {
    font-size: 1.2em;
    top: 39px;
  }
}

@media (min-width: $bsXLargeDevice) {
  #new-content-container,
  .new-content-container {
    font-size: 1.0em;
    top: 40px;
  }
}

.nsfw-shield {
  cursor: pointer;
  opacity: 0.5;
}

.profile-stream-stamped-image {
  max-width: 300px;
  max-height: 300px;
  padding-left: 25%;
}

.profile-stream-stamped-header {
  padding-left: 20px;
}

.stamped-profile-info {
    word-break: break-all;
    margin-left: 4%;
}

@media all and (max-width: $largeDevice) {
  .stamped-profile-info {
    h1 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.4rem;
    }
  }
}
@media all and (max-width: $mediumDevice) {
  .stamped-profile-info {
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
}
