{% load i18n %}

<div class="{% if modal %}modal{% else %}content-detail{% endif %}" id="content-modal">
    {% if modal %}<div class="modal-dialog modal-lg" role="document">{% endif %}
        <div class="modal-content">
            <div class="modal-header">
                {% if modal %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
                <img src="{% if content %}{{ content.author.image_url_small }}{% endif %}" id="content-profile-pic">
                <h5 id="content-title" class="modal-title">{% if content %}{{ content.author.name }} &lt;{{ content.author.handle }}&gt;{% endif %}</h5>
                <div class="pull-right">
                    <a href="{% if content %}{{ content.author.get_absolute_url }}{% endif %}" class="btn btn-secondary" title="{% trans "Profile" %}" aria-label="{% trans "Profile" %}"><i class="fa fa-user"></i></a>
                    {% if content and not content.author.user %}
                        <a href="{{ content.author.home_url }}" class="btn btn-secondary" title="{% trans "Home" %}" aria-label="{% trans "Home" %}"><i class="fa fa-home"></i></a>
                    {% endif %}
                    {# Note, following intentionally not in modal as plan is to likely remove modal #}
                    {% if content %}
                        {% if request.user.is_authenticated and content.author != request.user.profile %}
                            <button class="follower-button btn btn-secondary {% if not content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="remove_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Unfollow" %}" aria-label="{% trans "Unfollow" %}"><i class="fa fa-minus"></i></button>
                            <button class="follower-button btn btn-secondary {% if content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="add_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Follow" %}" aria-label="{% trans "Follow" %}"><i class="fa fa-plus"></i></button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div id="content-body" class="modal-body" {% if content %}data-content-id="{{ content.id }}"{% endif %}>
                {% if content %}{{ content.rendered|safe }}{% endif %}
            </div>
            <div class="content-bar">
                <div class="row">
                    <div class="col-xs-7">
                        <span id="content-timestamp" title="{% if content %}{{ content.formatted_timestamp }}{% endif %}">{% if content %}{{ content.humanized_timestamp }}{% if content.edited %} ({% trans "edited" %}){% endif %}{% endif %}</span>
                        <span id="content-bar-actions" class="{% if not content or content.author != request.user.profile %}hidden{% endif %}">
                            &nbsp;
                            <a id="content-update-link" href="{% if content %}{% url "content:update" content.id %}{% endif %}"><i class="fa fa-pencil" title="{% trans "Update" %}" aria-label="{% trans "Update" %}"></i></a>
                            <a id="content-delete-link" href="{% if content %}{% url "content:delete" content.id %}{% endif %}"><i class="fa fa-remove" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}"></i></a>
                        </span>
                    </div>
                    <div class="col-xs-5 text-xs-right grid-item-reactions">
                        <div class="item-reaction">
                            <span><i class="fa fa-envelope"></i></span>&nbsp;
                            <span class="item-reaction-counter" id="content-reply-count">{% if content %}{{ content.children.count }}{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-modal-replies" class="replies-container"></div>
            {% if request.user.is_authenticated %}
                <div class="content-actions">
                    <a class="btn btn-secondary" id="content-reply-url" href="{% if content %}{% url "content:reply" pk=content.id %}{% endif %}">{% trans "Reply" %}</a>
                </div>
            {% endif %}
        </div>
    {% if modal %}</div>{% endif %}
</div>
