{% load i18n %}

<div class="{% if modal %}modal{% else %}content-detail{% endif %}" id="content-modal">
    {% if modal %}<div class="modal-dialog modal-lg" role="document">{% endif %}
        <div class="modal-content">
            <div class="modal-header">
                <img src="{% if content %}{{ content.author.image_url_small }}{% endif %}" id="content-profile-pic">
                <h5 id="content-title" class="modal-title">{% if content %}{{ content.author.name }} &lt;{{ content.author.handle }}&gt;{% endif %}</h5>
                {% if modal %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endif %}
            </div>
            <div id="content-body" class="modal-body" {% if content %}data-content-id="{{ content.id }}"{% endif %}>
                {% if content %}{{ content.rendered|safe }}{% endif %}
            </div>
            <div class="content-bar">
                <div class="row">
                    <div class="col-xs-6">
                        <span id="content-timestamp" title="{% if content %}{{ content.formatted_timestamp }}{% endif %}">{% if content %}{{ content.humanized_timestamp }}{% if content.edited %} ({% trans "edited" %}){% endif %}{% endif %}</span>
                        <span id="content-bar-actions" class="{% if not content or content.author != request.user.profile %}hidden{% endif %}">
                            &nbsp;
                            <a id="content-update-link" href="{% if content %}{% url "content:update" content.id %}{% endif %}"><i class="fa fa-pencil" title="{% trans "Update" %}" aria-label="{% trans "Update" %}"></i></a>
                            <a id="content-delete-link" href="{% if content %}{% url "content:delete" content.id %}{% endif %}"><i class="fa fa-remove" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}"></i></a>
                        </span>
                    </div>
                    <div class="col-xs-6 text-xs-right grid-item-reactions">
                        <div class="item-reaction">
                            <span><i class="fa fa-envelope"></i></span>&nbsp;
                            <span class="item-reaction-counter" id="content-comment-count">{% if content %}{{ content.children.count }}{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content-modal-comments" class="comments-container"></div>
            {% if request.user.is_authenticated %}
                <div class="content-actions">
                    <a class="btn btn-secondary" id="content-reply-url" href="{% if content %}{% url "content:reply" pk=content.id %}{% endif %}">{% trans "Reply" %}</a>
                </div>
            {% endif %}
        </div>
    {% if modal %}</div>{% endif %}
</div>
