{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% include "content/_edit_title.html" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <!-- Compiled project CSS -->
        <link href="{% static 'dist/project.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <div class="main-container">
        {% include "content/_create.html" %}
    </div>

    {% block javascript %}
        <!-- JavaScript locales -->
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <!-- Compiled project JS -->
        <script src="{% static 'dist/project.js' %}"></script>
        {{ form.media }}
    {% endblock javascript %}
</body>
</html>
