{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Confirm delete" %}
{% endblock %}

{% block content %}
    <h1>
        {% trans "Confirm delete" %}
    </h1>
    <div class="grid-item w-100">
        {{ content.rendered|safe }}
    </div>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
        <button type="button" onclick="window.history.back();" class="btn btn-outline-dark">{% trans "Cancel" %}</button>
    </form>
{% endblock %}
