{% extends "base.html" %}
{% load i18n %}
{% load json_context %}
{% load js_reverse %}
{% load static %}

{% block title %}
    {% include "content/_edit_title.html" %}
{% endblock %}

{% block content %}
    <div id="app">
        <vue-snotify></vue-snotify>
        <router-view/>
    </div>
    <br/>
    <p>
        {% trans "Tip! Share pages easily by bookmarking our" %} <a href='javascript:{{ bookmarklet }}'>{% trans "bookmarklet" %}</a>.
    </p>
{% endblock %}

{% block javascript %}
    {% json_context %}
    {{ block.super }}
    {{ form.media }}
    <script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>
    <script src="{% static 'dist/vue/js/app.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}
