@import "variables";

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Navbar
.navbar {
  #{$a-tags} {
    color: $white;
  }

  .dropdown-menu {
    #{$a-tags} {
      color: $dark;
    }
    a:active {
      background-color: unset;
    }
    border-radius: unset;
  }
}

.nav-item.show {
  .dropdown-menu {
    display: inline-block;
  }
}

@media all and (max-width: $mediumDevice) {
  .navbar-container {
    width: 100%;
  }
}

// Dark navbar tuning
.navbar-toggler {
  color: #fff;
}

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317
[hidden][style="display: block;"] {
  display: block !important;
}

// Content font sizing
html {
  font-size: 13px;
}

body {
  background-color: $darker;
  color: $lightish;
}

// Generic utility classes
.hidden {
  display: none;
}

// Main container
.main-container {
  margin-top: 55px;
}
@media all and (max-width: $mediumDevice) {
  .main-container {
    width: 100%;
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

// Modals
.modal {
  color: $dark;
}
@media all and (max-width: $mediumDevice) {
  .modal-lg {
    width: 100%;
    max-width: unset;
    margin: 0;
  }
}

// Lose the rounding on various things
.btn, .card, .form-control {
  border-radius: unset;
}
