@import "variables";

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// This is a fix for the bootstrap4 alpha release
@media (max-width: 47.9em) {
  .navbar-collapse-fix {
    clear: both;
  }
}

// Dark navbar tuning
.navbar-toggler {
  color: #fff;
}

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317
[hidden][style="display: block;"] {
  display: block !important;
}

// Content font sizing
html {
  font-size: 13px;
}

body {
  background-color: $darker;
  color: $lightish;
}

// Generic utility classes
.hidden {
  display: none;
}

// Main container
.main-container {
  margin-top: 60px;
}
