.markdownx-preview, .grid-item {
  // Apply Bootstrap blockquote styling except for font-size change
  blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-left: .25rem solid #eceeef;
  }
}
