@import "variables";

.markdownx-preview, .grid-item, #content-body {
  // Apply Bootstrap blockquote styling except for font-size change
  blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-left: .25rem solid #eceeef;
  }
}

.markdownx-preview img {
  max-width: 100%;
}

a.opengraph-card {
  cursor: pointer;
  text-decoration: none;
  color: #373a3c;

  .card {
    padding: 10px;

    .opengraph-card-image {
      float: left;
      margin-right: 10px;
    }
  }

  img {
    max-height: 60px;
  }
}

#content-modal {
  overflow-wrap: break-word;
  color: $dark;

  img {
    max-width: 100%;
  }

  .modal-content {
    border-radius: unset;
  }

  #content-profile-pic {
    max-width: 50px;
    max-height: 50px;
  }

  #content-title {
    display: inline;
    padding-left: 20px;
  }

  .content-bar {
    font-size: smaller;
    opacity: 0.5;
    padding: 15px;

    @media all and (max-width: $largeDevice) {
      font-size: small;
    }
    @media all and (max-width: $mediumDevice) {
      font-size: medium;
    }
    @media all and (max-width: $bsSmallDevice) {
      font-size: large;
    }
  }
}

.comment {
  padding-left: 15px;
  font-size: 0.95em;
}
