@import "variables";

.markdownx-preview, .grid-item, #content-body {
  // Apply Bootstrap blockquote styling except for font-size change
  blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border-left: .25rem solid #eceeef;
  }
}

a.opengraph-card {
  cursor: pointer;
  text-decoration: none;
  color: #373a3c;

  .card {
    padding: 10px;

    .opengraph-card-image {
      float: left;
      margin-right: 10px;
    }
  }

  img {
    max-height: 60px;
  }
}

#content-modal, #content-detail {
  overflow-wrap: break-word;

  img {
    max-width: 100%;
  }
  #content-profile-pic {
    max-width: 50px;
    max-height: 50px;
  }

  #content-title {
    display: inline;
    padding-left: 20px;
  }
}

// Modal type styling for content-detail
#content-detail {
  background-color: $white;
  color: $dark;

  #content-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }

  #content-body {
    padding: 15px;
  }

  #content-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
}
