@import "variables";

.grid-item {
  background-color: #F1F1F1;
  border-radius: 6px;

  .grid-item-actions {
    font-size: small;
    opacity: 0.5;
  }

  img {
    max-width: 100%;
  }
}

// Responsive grid sizes
.grid-sizer,
.grid-item {
  width: 100%;
  padding: 2%;
  margin: 1% 0;
}
@media all and (min-width: $mediumDevice) {
  .grid-sizer,
  .grid-item {
    width: 48%;
    padding: 1%;
    margin: 1%;
  }
}
@media all and (min-width: $largeDevice) {
  .grid-sizer,
  .grid-item {
    width: 32.1%;
    padding: 1%;
    margin: 0.5%;
  }
}
@media all and (min-width: $extraLargeDevice) {
  .grid-sizer,
  .grid-item {
    width: 24%;
    padding: 0.5%;
    margin: 0.5%;
  }
}
