.grid-sizer,
.grid-item {
  width: 46%;
  padding: 1%;
  margin: 1%;
}

.grid-item {
  background-color: #F1F1F1;
  border-radius: 6px;

  .grid-item-actions {
    font-size: small;
    opacity: 0.5;
  }

  img {
    max-width: 100%;
  }
}
