@import "variables";

.markdownx {
  display: flex;
  .preview-panel {
    display: flex;
    flex-flow: column;
    .markdownx-preview {
      flex: 1;
    }
  }
}

.md-editor {
  textarea {
    background-color: #FFF;
    padding: .5rem;
    border-bottom: none;
  }
}

.markdownx-preview {
  min-height: 4rem;
}
