// Media query sizes
$extraLargeLower: 1680px;
$largeUpper: 1679px;
$largeLower: 1200px;
$mediumUpper: 1199px;
$mediumLower: 800px;
$smallUpper: 799px;
$smallLower: 320px;

// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
