@import "../../../bower_components/bootstrap/scss/functions";
@import "../../../bower_components/bootstrap/scss/variables";

// Media query sizes, mainly for our grid
$extraLargeDevice: 1680px;
$largeDevice: 1200px;
$mediumDevice: 800px;

// BS versions
$bsSmallDevice: 544px;
$bsMediumDevice: 768px;
$bsLargeDevice: 992px;
$bsXLargeDevice: 1200px;

// Alert colours
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

// Common colours
$dark: #373a3c;
$darkopacity: #B39A96;
$darker: #0d1012;
$light: #F1F1F1;
$lightish: #d8d8d8;
$active: #ae5803;
$actionDone: #ebcca4;

// Tags
$a-tags: 'a, a:active, a:hover, a:visited';
