// Media query sizes, mainly for our grid
$extraLargeDevice: 1680px;
$largeDevice: 1200px;
$mediumDevice: 800px;

// BS versions
$bsSmallDevice: 544px;
$bsMediumDevice: 768px;
$bsLargeDevice: 992px;
$bsXLargeDevice: 1200px;

// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
