{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% if object.name %}{{ object.name }}{% else %}{{ object.guid }}{% endif %}{% endblock %}

{% block containertype %}container-fluid{% endblock %}

{% block content %}
    <script>var socialhomeStream = "{{ object.guid }}";</script>
    <div class="row">
        <div class="col-sm-12">
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <h2>{% if object.name %}{{ object.name }}{% else %}{{ object.guid }}{% endif %}</h2>
                    <p>{{ object.handle }}</p>
                </div>
                {% if object == request.user.profile %}
                    <div class="grid-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-primary" href="{% url 'users:profile-update' %}">My Info</a>
                                <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
                                <a class="btn btn-primary" href="{% url 'users:profile-organize' %}">{% trans "Organize" %}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for content in contents %}
                    <div class="grid-item">
                        <div class="grid-item-actions text-sm-right">
                            {% if content.author == request.user.profile %}
                                <a href="{% url "content:update" content.id %}"><i class="fa fa-pencil" aria-label="{% trans "Update" %}"></i></a>
                                <a href="{% url "content:delete" content.id %}"><i class="fa fa-remove" aria-label="{% trans "Delete" %}"></i></a>
                            {% endif %}
                        </div>
                        {{ content.rendered|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
