{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% if object.name %}{{ object.name }}{% else %}{{ object.fid }}{% endif %} - {% trans "Organize content" %}{% endblock %}

{% block containertype %}container{% endblock %}

{% block content %}
    <h1>{% trans "Organize content" %}</h1>
    <form method="post" action="{% url 'users:profile-organize' %}" id="organize-content-form">{% csrf_token %}
        <input type="hidden" name="sort_order" value="">
        <div class="row">
            <div class="col-sm-12 organize-content">
                {% for content in content_list %}
                    <div class="row" data-id="{{ content.id }}">
                        <div class="col-sm-12">
                            <div class="card card-block">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <i class="fa fa-5x fa-arrows-alt"></i>
                                    </div>
                                    <div class="col-sm-10">
                                        {{ content.rendered|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Save order" %}</button>
    </form>
{% endblock content %}
