{% load content %}
{% load i18n %}
{% load string_utils %}

<div class="grid-item {% if stream_name|startswith:"content_" %}grid-item-full{% endif %}" data-content-id="{{ content.id }}">
    {{ content.rendered|safe }}
    {% if not stream_name|startswith:"profile_" %}
        <div class="grid-item-author-bar mt-1">
            <div class="profile-box-trigger">
                <img src="{{ content.author.safer_image_url_small }}" class="grid-item-author-bar-pic {% if stream_name|startswith:"content_" %}grid-item-author-bar-pic-large{% endif %}"> {% if content.author.name %}{{ content.author.name }}{% else %}{{ content.author.handle }}{% endif %}
            </div>
            <div class="profile-box hidden">
                {{ content.author.handle }}
                <div class="pull-right">
                    <a href="{{ content.author.get_absolute_url }}" class="btn btn-secondary" title="{% trans "Profile" %}" aria-label="{% trans "Profile" %}"><i class="fa fa-user"></i></a>
                    {% if not content.author.user %}
                        <a href="{{ content.author.home_url }}" class="btn btn-secondary" title="{% trans "Home" %}" aria-label="{% trans "Home" %}"><i class="fa fa-home"></i></a>
                    {% endif %}
                    {% if request.user.is_authenticated and content.author != request.user.profile %}
                        <button class="follower-button btn btn-secondary {% if not content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="remove_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Unfollow" %}" aria-label="{% trans "Unfollow" %}"><i class="fa fa-minus"></i></button>
                        <button class="follower-button btn btn-secondary {% if content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="add_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Follow" %}" aria-label="{% trans "Follow" %}"><i class="fa fa-plus"></i></button>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}
    <div class="grid-item-bar d-flex justify-content-start">
        <div class="mt-1">
            <a class="unstyled-link" href="{{ content.get_absolute_url }}" title="{{ content.formatted_timestamp }}">{{ content.humanized_timestamp }}{% if content.edited %} ({% trans "edited" %}){% endif %}</a>
            {% if content.author == request.user.profile %}
                &nbsp;
                <a href="{% url "content:update" content.id %}"><i class="fa fa-pencil" title="{% trans "Update" %}" aria-label="{% trans "Update" %}"></i></a>
                <a href="{% url "content:delete" content.id %}?next={{ request.path }}"><i class="fa fa-remove" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}"></i></a>
            {% endif %}
        </div>
        <div class="ml-auto grid-item-reactions mt-1">
            {% if request.user.is_authenticated and content.author != request.user.profile or content.shares_count %}
                <div class="item-reaction item-open-shares-action {% if content|has_shared:request.user %}item-reaction-shared{% endif %} {% if content.shares_count %}item-reaction-counter-positive{% endif %}" data-content-id="{{ content.id }}">
                    <i class="fa fa-refresh" title="{% trans "Shares" %}" aria-label="{% trans "Shares" %}"></i>
                    <span class="item-reaction-counter">{{ content.shares_count }}</span>
                </div>
            {% endif %}
            {% if request.user.is_authenticated or content.reply_count %}
                <div class="item-reaction {% if content.reply_count %}item-reaction-counter-positive{% endif %}">
                    <span class="item-open-replies-action" data-content-id="{{ content.id }}">
                        <i class="fa fa-envelope" title="{% trans "Replies" %}" aria-label="{% trans "Replies" %}"></i>
                        <span class="item-reaction-counter">{{ content.reply_count }}</span>
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    {% if content.author != request.user.profile %}
        <div class="content-actions share-action hidden" data-content-id="{{ content.id }}">
            <button class="btn btn-secondary {% if not content|has_shared:request.user %}hidden{% endif %}" type="button" data-action="unshare" aria-label="{% trans "Unshare" %}">{% trans "Unshare" %}</button>
            <button class="btn btn-secondary {% if content|has_shared:request.user %}hidden{% endif %}" type="button" data-action="share" aria-label="{% trans "Share" %}">{% trans "Share" %}</button>
        </div>
    {% endif %}
    <div class="replies-container" data-content-id="{{ content.id }}"></div>
    {% if request.user.is_authenticated and content.content_type.string_value == "content" %}
        <div class="content-actions reply-action {% if not stream_name|startswith:"content_" %}hidden{% endif %}" data-content-id="{{ content.id }}">
            <a class="btn btn-secondary" href="{% url "content:reply" pk=content.id %}">{% trans "Reply" %}</a>
        </div>
    {% endif %}
</div>
