{% extends "base.html" %}
{% load i18n %}

{% block containertype %}container-fluid{% endblock %}

{% block ogtags %}
    <meta property="og:title" content="{% block stream_title %}{% endblock %} - {{ request.site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.site.domain }}{{ request.path }}" />
    {# TODO fix logo #}
    <meta property="og:image" content="https://socialhome.network/media/markdownx/74b37fa1-88d0-4e29-9fdc-8d07ba216f63.png" />
{% endblock %}

{% block content %}
    <script>var socialhomeStream = "{{ stream_name }}";</script>
    <div class="streams-container">
        <div class="container">
            <div id="new-content-container" class="hidden">
                <a href="" id="new-content-load-link" onclick="return false;">
                    <span class="tag tag-pill tag-primary"><span id="new-content-count">0</span> {% trans "new posts available" %}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <div class="stamped">
                        {% block stream_description %}{% endblock %}
                    </div>
                    {% block stream_actions %}{% endblock %}
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    {% for content in content_list %}
                        <div class="grid-item" data-content-id="{{ content.id }}">
                            {{ content.rendered|safe }}
                            {% if "profile__" not in stream_name %}
                                <div class="grid-item-author-bar">
                                    <div class="profile-box-trigger">
                                        <img src="{{ content.author.safer_image_url_small }}" class="grid-item-author-bar-pic"> {% if content.author.name %}{{ content.author.name }}{% else %}{{ content.author.handle }}{% endif %}
                                    </div>
                                    <div class="profile-box hidden">
                                        {{ content.author.handle }}
                                        <div class="pull-right">
                                            <a href="{{ content.author.get_absolute_url }}" class="btn btn-secondary" title="{% trans "Profile" %}" aria-label="{% trans "Profile" %}"><i class="fa fa-user"></i></a>
                                            {% if not content.author.user %}
                                                <a href="{{ content.author.home_url }}" class="btn btn-secondary" title="{% trans "Home" %}" aria-label="{% trans "Home" %}"><i class="fa fa-home"></i></a>
                                            {% endif %}
                                            {% if request.user.is_authenticated and content.author != request.user.profile %}
                                                <button class="follower-button btn btn-secondary {% if not content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="remove_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Unfollow" %}" aria-label="{% trans "Unfollow" %}"><i class="fa fa-minus"></i></button>
                                                <button class="follower-button btn btn-secondary {% if content.author.id in request.user.profile.following_ids %}hidden{% endif %}" data-action="add_follower" data-profileid="{{ request.user.profile.id }}" data-target="{{ content.author.guid }}" title="{% trans "Follow" %}" aria-label="{% trans "Follow" %}"><i class="fa fa-plus"></i></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="grid-item-bar">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <span class="grid-item-open-action" data-content-id="{{ content.id }}" title="{{ content.formatted_timestamp }}">{{ content.humanized_timestamp }}{% if content.edited %} ({% trans "edited" %}){% endif %}</span>
                                        {% if content.author == request.user.profile %}
                                            &nbsp;
                                            <a href="{% url "content:update" content.id %}"><i class="fa fa-pencil" title="{% trans "Update" %}" aria-label="{% trans "Update" %}"></i></a>
                                            <a href="{% url "content:delete" content.id %}"><i class="fa fa-remove" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-5 text-xs-right grid-item-reactions">
                                        {% if request.user.is_authenticated or content.children.count %}
                                            <div class="item-reaction">
                                                <span class="item-open-replies-action" data-content-id="{{ content.id }}">
                                                    <i class="fa fa-envelope" title="{% trans "Replies" %}" aria-label="{% trans "Replies" %}"></i>
                                                </span>
                                                <span class="item-reaction-counter">{{ content.children.count }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="replies-container" data-content-id="{{ content.id }}"></div>
                            {% if request.user.is_authenticated %}
                                <div class="content-actions hidden" data-content-id="{{ content.id }}">
                                    <a class="btn btn-secondary" href="{% url "content:reply" pk=content.id %}">{% trans "Reply" %}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {% include "content/_content_detail.html" with modal=True content=None %}
{% endblock %}
