{% extends "base.html" %}
{% load i18n %}

{% block containertype %}container-fluid{% endblock %}

{% block ogtags %}
    <meta property="og:title" content="{% block stream_title %}{% endblock %} - {{ request.site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.site.domain }}{{ request.path }}" />
    {# TODO fix logo #}
    <meta property="og:image" content="https://socialhome.network/media/markdownx/74b37fa1-88d0-4e29-9fdc-8d07ba216f63.png" />
{% endblock %}

{% block content %}
    <script>var socialhomeStream = "{{ stream_name }}";</script>
    <div class="streams-container">
        <div class="container">
            <div id="new-content-container" class="hidden">
                <a href="" id="new-content-load-link" onclick="return false;">
                    <span class="tag tag-pill tag-primary"><span id="new-content-count">0</span> {% trans "new posts available" %}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <div class="stamped">
                        {% block stream_description %}{% endblock %}
                    </div>
                    {% block stream_actions %}{% endblock %}
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    {% for content in content_list %}
                        <div class="grid-item" data-content-id="{{ content.id }}">
                            {{ content.rendered|safe }}
                            {% if "profile__" not in stream_name %}
                                <div class="grid-item-author-bar">
                                    <img src="{{ content.author.safer_image_url_small }}" class="grid-item-author-bar-pic"> {% if content.author.name %}{{ content.author.name }}{% else %}{{ content.author.handle }}{% endif %}
                                </div>
                            {% endif %}
                            <div class="grid-item-bar">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <span class="grid-item-open-action" data-content-guid="{{ content.guid }}" title="{{ content.formatted_timestamp }}">{{ content.humanized_timestamp }}{% if content.edited %} ({% trans "edited" %}){% endif %}</span>
                                        {% if content.author == request.user.profile %}
                                            &nbsp;
                                            <a href="{% url "content:update" content.id %}"><i class="fa fa-pencil" title="{% trans "Update" %}" aria-label="{% trans "Update" %}"></i></a>
                                            <a href="{% url "content:delete" content.id %}"><i class="fa fa-remove" title="{% trans "Delete" %}" aria-label="{% trans "Delete" %}"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-xs-6 text-xs-right grid-item-reactions">
                                        <div class="item-reaction">
                                            <a href="#"><i class="fa fa-envelope" title="{% trans "Comments" %}" aria-label="{% trans "Comments" %}"></i></a>
                                            <span class="item-reaction-counter">{{ content.children.count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {% include "content/_content_detail.html" with modal=True content=None %}
{% endblock %}
