{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Public" %}{% endblock %}

{% block containertype %}container-fluid{% endblock %}

{% block content %}
    <script>var socialhomeStream = "public";</script>
    <div class="row">
        <div class="col-sm-12">
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <h2>{% trans "Public" %}</h2>
                    <p>{% trans "Contains public content from around the network." %}</p>
                </div>
                {% for content in content_list %}
                    <div class="grid-item">
                        <div class="grid-item-actions text-sm-right">
                            {% if content.author == request.user.profile %}
                                <a href="{% url "content:update" content.id %}"><i class="fa fa-pencil" aria-label="{% trans "Update" %}"></i></a>
                                <a href="{% url "content:delete" content.id %}"><i class="fa fa-remove" aria-label="{% trans "Delete" %}"></i></a>
                            {% endif %}
                        </div>
                        {{ content.rendered|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
