{% extends "streams/base.html" %}
{% load json_context %}
{% load js_reverse %}
{% load staticfiles %}
{% load string_utils %}

{% block content %}
    <div id="app" class="streams-container">
        <stream />
    </div>
{% endblock %}

{% block javascript %}
    {% json_context %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>
    <script src="{% static 'js/webpack.stream.js' %}"></script>
{% endblock %}


{% block css %}
    {{ block.super }}
    {# TODO: remove this override once legacy streams are removed #}
    {# Also change Content render to not add .nsfw class at all. #}
    <style>
        .nsfw {
            display: unset;
        }
    </style>
{% endblock %}
