{% extends "streams/base.html" %}
{% load staticfiles json_safe string_utils %}

{% block content %}
    {# Temporary hack; to be removed #}
    <script>
        window.templateData = {
            contentList: [
                {% for content in content_list %}
                    {
                        htmlSafe: {{ content.rendered|json_safe }},
                        author: {
                            guid: "{{ content.author.guid }}",
                            name: "{% if content.author.name %}{{ content.author.name }}{% else %}{{ content.author.handle }}{% endif %}",
                            handle: "{{ content.author.handle }}",
                            imageUrlSmall: "{{ content.author.safer_image_url_small }}",
                            absoluteUrl: "{{ content.author.get_absolute_url }}",
                            homeUrl: "{{ content.author.home_url }}",
                            isUserFollowingAuthor: {% if not content.author.id in request.user.profile.following_ids %}true{% else %}false{% endif %}
                        },
                        id: {{ content.id }},
                        timestamp: "{{ formatted_timestamp }}",
                        humanizedTimestamp: "{{ humanized_timestamp }}",
                        edited: {{ content.edited|json_safe }},
                        childrenCount: {{ content.children.count }},
                        {% if content.author == request.user.profile %}
                            isUserAuthor: true,
                            updateUrl: "{% url " content:update" content.id %}",
                            replyUrl: "{% url "content:reply" pk=content.id %}",
                            deleteUrl: "{% url " content:delete" content.id %}",
                        {% else %}
                            isUserAuthor: false,
                            updateUrl: "",
                            replyUrl: "",
                            deleteUrl: "",
                        {% endif %}
                    },
                {% endfor -%}
            ],
            streamName: "{{ stream_name }}",
            isUserAuthentificated: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
            showAuthorBar: {% if not stream_name|startswith:"profile_" %}true{% else %}false{% endif %},
            {# Temporary hack; translation system to come #}
            stampedContent: {
                h2: "Public",
                p: "Contains public content from around the network."
            },
        };
    </script>

    <div id="app" class="streams-container">
        <stream></stream>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/webpack.bundle.js' %}"></script>
{% endblock %}
