{% extends "mocha/base.html" %}
{% load static %}


{% block mocha_tests %}
    <script src="{% static 'js/tests/test_streams.js' %}"></script>
{% endblock %}


{% block fixtures %}
    <div class="container">
        <div id="new-content-container" class="hidden">
            <a href="" id="new-content-load-link" onclick="return false;">
                <span class="tag tag-pill tag-primary"><span id="new-content-count">0</span> new posts available</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="grid">
                <div class="stamped">
                    <h2>Stream</h2>
                </div>
                <div class="grid-sizer"></div>
                <div class="grid-item">
                    <p>Foo Bar</p>
                    <div class="grid-item-bar">
                        <span class="grid-item-open-action" data-content-id="1" title="2017-03-14 22:04:00+00:00">2 hours ago</span>
                    </div>
                </div>
                <div class="grid-item">
                    <p>#nsfw</p>
                    <p><img id="nsfw-content" class="nsfw" src="{% static "images/pony100.png" %}"></p>
                    <div class="grid-item-bar">
                        <span class="grid-item-open-action" data-content-id="2" title="2017-03-14 21:04:00+00:00">3 hours ago (edited)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="content-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="" id="content-modal-profile-pic">
                    <h5 id="content-modal-title" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="content-modal-body" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
