arrow
asgi_redis
backports-abc  # Required by circus->tornado IF on python 3.4
beautifulsoup4
bleach
channels<2.0
circus
CommonMark
django-allauth
django-autoslug
django-braces
django-crispy-forms
django-dynamic-preferences<1.6  # Some breaking changes there
django-enumfields
django-environ
django-extensions
django-floppyforms
django-fsm
django-haystack
django-js-reverse
django-memoize
django-model-utils
django-redis
django-rest-swagger
django-reversion
django-robots
django-rq
django-secure
django-settings-export
django-tables2
django-versatileimagefield
django<2.1
djangorestframework
ipython
lxml
Pillow
psycopg2-binary
python-opengraph-jaywink
pytz
raven
redis
rq
rq-scheduler
typing  # Required by django-extensions on Python 3.4
unicode-slugify
uwsgi
whitenoise
whoosh

# Own markdownx fork for some tweaks:
# - disable tab when ctrl down (https://github.com/neutronX/django-markdownx/pull/85)
# - GIF upload (upstream rejected)
-e git+https://github.com/jaywink/django-markdownx.git@bd2fa9dffcbfccc62f9cef2677921537f100bbaa#egg=django-markdownx==2.0.21.1

-e git+https://git.feneas.org/jaywink/federation.git@db049c6638b46e18c9ce7f05938dcff72cd065c7#egg=federation==0.18.0-dev.1

# Own pyembed fork for some tweaks:
# - passing additional options (TODO make PR)
# - requests timeout (TODO make PR)
# - decrease consumer error logging level to debug (TODO make PR)
-e git+https://github.com/jaywink/pyembed.git@6f8c1cc98d61ee3083e9803255e4b2cc90b5a0dd#egg=pyembed==1.3.3.1
