arrow
bleach
# 3.x: This is a major version change requiring updates to consumers and middleware.
channels<3
# 3.x requires Redis 5.x
channels_redis<3
chardet
circus
#CommonMark
django-allauth
django-braces
django-crispy-forms
# 1.14.0 drops Django < 3.2 support
django-dynamic-preferences<1.14.0
django-enumfields
django-environ
# 3.2 drops support for Django 2.2
django-extensions<3.2
django-floppyforms
django-fsm
django-haystack
django-js-reverse
django-memoize
# Lock due to some regression with date fields, investigate later
django-model-utils<4
django-redis
django-redisboard
# 5.0.3 drops support for Django 2.x - because that's what patch releases do
django-reversion<5.0.3
django-robots
django-rq
django-secure
django-settings-export
# 5.0 drops support for Django 2.x
django-silk<5
django-versatileimagefield
django<3
# 3.13.0 drops Django 2.x support
djangorestframework<3.13.0
drf-yasg
#federation
ipython
lxml
Pillow
# UNLOCK once Django updated to 3.0+
# https://github.com/psycopg/psycopg2/issues/1293
psycopg2-binary<2.9
pyopenssl
python-opengraph-jaywink
python-slugify
pytz
raven
redis
rq
rq-scheduler
uwsgi
whitenoise
whoosh
pyyaml

# Own markdownx fork for some tweaks:
# - disable tab when ctrl down (https://github.com/neutronX/django-markdownx/pull/85)
# - GIF upload (upstream rejected)
-e git+https://github.com/jaywink/django-markdownx.git@ae0d882891972a79334fde0af2a06b66714b101a#egg=django-markdownx==2.0.28.1

# Just here to easily use a dev version
-e git+https://gitlab.com/jaywink/federation.git@0051cee3eb67bee58d2bd3794fcc2644852685aa#egg=federation==0.22.0-dev

-e git+https://github.com/jaywink/pyembed.git@f79ce0b8acd6d0dbe93809ed4c92c764792d5627#egg=pyembed==1.4.0-dev.2

# Fork to allow ignoring HTML blocks, needs upstream PR
-e git+https://github.com/jaywink/commonmark.py.git@b853dc194cb337063da898e57a9e2e6b9d3f733d#egg=commonmark==0.9.1-dev.1

## NON-DIRECT requirements locked here due to issues
#https://github.com/ipython/ipython/issues/12740
jedi==0.17.2
