codecov
coverage
django-debug-toolbar
django-debug-toolbar-user-panel
django-querycount
django-test-plus
django_coverage_plugin
django<2.0
factory_boy
Faker
flake8
freezegun
ipdb
pip-tools
pytest
pytest-cov
pytest-django
pytest-env
pytest-sugar
Sphinx
sphinx-autobuild
tornado<5.0  # Not a direct requirement but we need to lock due to circus not working with 5.0
             # Remove from this file once circus works with this
Werkzeug

# Recommonmark master has a fix for CommonMark==0.7.3 compatibility which is not released yet
-e git+https://github.com/rtfd/recommonmark.git@c410abb565a3c4ad4de0ce204ab2fa2db8031cf1#egg=recommonmark==0.4.0
