arrow
# Not a direct requirement, remove once upgraded from Python 3.6
autobahn<=21.2.1
bleach
# 3.x: This is a major version change requiring updates to consumers and middleware.
channels<3
# 3.x requires Redis 5.x
channels_redis<3
circus
#CommonMark
django-allauth
django-braces
django-crispy-forms
django-dynamic-preferences<1.6  # Some breaking changes there
django-enumfields
django-environ
django-extensions
django-floppyforms
django-fsm
django-haystack
django-js-reverse
django-memoize
# Lock due to some regression with date fields, investigate later
django-model-utils<4
django-redis
django-redisboard
django-reversion
django-robots
django-rq
django-secure
django-settings-export
django-silk
django-versatileimagefield
django<3
djangorestframework
drf-yasg
federation
# 7.15 is the last version supporting Python 3.6
ipython<7.16
lxml
Pillow
# UNLOCK once Django updated to 3.0+
# https://github.com/psycopg/psycopg2/issues/1293
psycopg2-binary<2.9
python-opengraph-jaywink
python-slugify
pytz
raven
redis
rq
rq-scheduler
uwsgi
whitenoise
whoosh
pyyaml

# Own markdownx fork for some tweaks:
# - disable tab when ctrl down (https://github.com/neutronX/django-markdownx/pull/85)
# - GIF upload (upstream rejected)
-e git+https://github.com/jaywink/django-markdownx.git@ae0d882891972a79334fde0af2a06b66714b101a#egg=django-markdownx==2.0.28.1

# Just here to easily use a dev version
#-e git+https://git.feneas.org/jaywink/federation.git@v0.22.0#egg=federation==0.22.0

-e git+https://github.com/jaywink/pyembed.git@f79ce0b8acd6d0dbe93809ed4c92c764792d5627#egg=pyembed==1.4.0-dev.2

# Fork to allow ignoring HTML blocks, needs upstream PR
-e git+https://github.com/jaywink/commonmark.py.git@b853dc194cb337063da898e57a9e2e6b9d3f733d#egg=commonmark==0.9.1-dev.1

## NON-DIRECT requirements locked here due to issues
#https://github.com/ipython/ipython/issues/12740
jedi==0.17.2
# Python 3.6 support dropped
traitlets<5
