{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Test</title>

    <script src="{% static 'mocha/mocha.js' %}"></script>
    <script src="{% static 'mocha/chai.js' %}"></script>
    <script src="{% static 'mocha/sinon.js' %}"></script>
    <script src="{% static 'mocha/mock-socket.js' %}"></script>

    <script>
        mocha.setup('bdd');
        window.assert = chai.assert;
        window.expect = chai.expect;
    </script>

    {% block core_libraries %}
        <script src="{% static 'js/project.js' %}"></script>
    {% endblock %}

    <!-- App specific dependencies -->
    {% block dependencies %}{% endblock %}

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'mocha/mocha.css' %}" rel="stylesheet">
  </head>
  <body>
      <!-- HTML Fixtures -->
      <div id="mocha"></div>
      {% block fixtures %}{% endblock %}
      {% block mocha_tests %}{% endblock %}
      <script charset="utf-8">
        // Only tests run in real browser, injected script run if options.run == true
        if (navigator.userAgent.indexOf('PhantomJS') < 0) {
          mocha.run();
        }
      </script>
  </body>
</html>
