{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ request.site.name }}{% endblock title %}</title>
    <meta property="og:site_name" content='{{ request.site.name|addslashes }}' />
    <meta name="description" content='{% block description %}{% trans "A federated social home." %}{% endblock %}'>
    <meta name="twitter:dnt" content="on">
    <link rel="canonical" href="https://{{ request.site.domain }}{{ request.path }}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/logo/Socialhome-dark-16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/logo/Socialhome-dark-32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/logo/Socialhome-dark-96.png" %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-container {% block containertype %}container{% endblock %}">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}
</body>
</html>

